<div class="media" data-media-url="{{ .Permalink }}">
  <div class="media-left">
    <a href="{{ .Permalink }}">
      {{ if isset .Params "banner" }}
      <img class="media-object" src="{{ .Params.banner | absURL}}" width="100" alt="Image">
      {{ else }}
      {{ $imgCount := len .Params.images }}
      {{ if gt $imgCount 0 }}
      {{ $img := index .Params.images }}
      {{ if isset $img }}
      <img class="media-object" src="{{ $img | absURL}}" width="100" alt="Image">
      {{ else }}
      <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=img&w=100&h=100"  width="100" alt="Image">
      {{ end }}
      {{ else }}
      <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=img&w=100&h=100"  width="100" alt="Image">
      {{ end }}
      {{ end }}
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <div class="archive-article-date">
      <i class="fa fa-calendar"></i>
      <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
    <p>{{ .Summary }}</p>
</div>
  </div>
</div>
