<div class="footer">
  <div class="row">
    <div class="col-sm-9 col-xs-6">

      <ul class="list-inline">
        {{ range .Site.Menus.footer }}
        <li class=""><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>

    </div>
    <div class="col-sm-3 col-xs-6 text-right">
      {{ partial "social" . }}
    </div>
    <div class="col-xs-12">

      &copy; {{.Now.Format "2006"}}
      {{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
    </div>
  </div>
</div>

{{ partial "footer_js" . }}
{{ partial "footer_custom_js" . }}
