<div class="col-xs-12 col-sm-2">
  <div class="row">
<div class="col-xs-4 col-sm-12"><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=88&txt=Logo&w=200&h=200" alt="Logo"></div>

<ul class="col-xs-8 list-inline visible-xs">
  {{ range .Site.Menus.sidebar }}
  <li><a href="{{ .URL | absURL }}" class="">{{ .Name }}</a></li>
  {{ end }}
</ul>

<div class="col-sm-12 hidden-xs">
  <div class="list-group">
  {{ range .Site.Menus.sidebar }}
  <a href="{{ .URL | absURL }}" class="list-group-item">{{ .Name }}</a>
  {{ end }}
  </div>
</div>

</div>
</div>
