<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head" . }}

<body>
  {{ partial "header" . }}
<div class="container-fluid">

    <div class="row">
    {{ partial "sidebar" . }}
    <div class="col-xs-12 col-sm-8 col-lg-9">
    <div id="main" >
        <div about="/my/article" class="article article-type-page" itemscope="" itemprop="blogPost">
            <div class="article-inner">
            </div>

        </div>

    </div>
    </div>


    </div>

</div>
<div class="container-fluid">
{{ partial "footer" . }}
</div>

</body>
</html>
